<div class="accessory">
    <img class="accessoryImage" src="/statics/images/{{image}}">
    <h3>
        {{name}}
    </h3>
    <p>
        {{description}}
    </p>
    <p>
        {{price}} BGN
    </p>
</div>