<div class="car">
	<img class="car" src="/static/images/{{image}}">
	<p class="name">{{name}}</p>
	<p><span>Price: </span> {{price}} BGN</p>
	<a class="btn" href="/details/car/{{id}}">Details</a>
</div>