body,
main,
form,
.carImage,
.errors {
    margin: auto;
}

header,
input[type=submit] {
    background-color: #607588;
}

ul {
    margin: 0;
    padding: 0;
}

li,
.btn,
.car,
.accessory {
    display: inline-block;
}

li {
    vertical-align: middle;
}

.navAttribute,
.btn {
    text-decoration: none;
}

.navAttribute,
a,
h1,
h2,
input[type=submit] {
    text-transform: uppercase;
}

.navAttribute,
.btn,
footer,
.errors,
label,
input[type=submit] {
    color: white;
}

.navAttribute {
    font-weight: bold;
    margin: 0.5em;
}

.navAttribute:hover,
input[type=submit]:hover {
    cursor: pointer;
}

.navAttribute:hover,
.btn:hover {
    text-decoration: underline;
}

.btn,
input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    padding: 0.5em;
}

.btn,
footer,
.accessory,
.carImage,
.errors,
h1,
h2,
h3,
label {
    text-align: center;
}

.btn,
input[type=submit] {
    width: 50%;
}

.btn,
footer,
label {
    background: #607588;
}

.btn {
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%;
}

form,
.detailsAttribute {
    width: 20%;
}

footer,
span {
    font-size: 1.1em;
}

footer,
input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    width: 100%;
}

footer {
    padding: 1em 0em;
    position: absolute;
    bottom: 0;
}

.cars,
.accessories,
.details,
.detailsAttribute {
    display: flex;
}

.cars,
.accessories,
.detailsAttribute {
    justify-content: center;
}

.car,
.accessory {
    border: 0.5px solid #a99898;
}

.car,
.logo,
.carImage {
    width: 15em;
}

.car {
    margin: 1em 0.2em;
}

.accessory {
    margin: 0em 0.2em 5em;
}

.details {
    flex-direction: column;
    align-items: center;
}

img {
    max-height: 11em;
    max-width: 20em;
}

.logo {
    height: 4em;
    float: left;
}

.carImage,
label {
    display: block;
}

.carImage {
    height: 11em;
}

.container {
    position: relative;
    min-height: 100vh;
}

.errors {
    width: 35%;
    padding: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background: rgb(231, 118, 118);
    border-radius: 0.5em;
}

span {
    font-weight: bolder;
}

label,
input[type=submit] {
    padding: 0.7em;
}

.attachAccessory {
    margin-top: 1em;
    margin-bottom: 1em;
}

input[type=submit] {
    border: none;
    font-size: 18px;
    margin: 5px 5px 5px 25%;
    border-radius: 4px;
}


input[type=submit]:hover {
    background-color: #718F94;
}

input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    border: 1px solid #a99898;
    box-sizing: border-box;
    margin: 0.5em auto 2em;
}