body,
main,
main form,
img.carImage,
.errors {
    margin: auto;
}

header,
input[type=submit] {
    background-color: #607588;
}

header ul {
    margin: 0;
    padding: 0;
}

header ul li,
main a.btn,
div.car,
div.accessory {
    display: inline-block;
}

header ul li {
    vertical-align: middle;
}

header ul li a,
main a.btn {
    text-decoration: none;
}

header ul li a,
a,
h1,
h2,
input[type=submit] {
    text-transform: uppercase;
}

header ul li a,
main a.btn,
footer,
.errors,
form label,
input[type=submit] {
    color: white;
}

header ul li a {
    font-weight: bold;
    margin: 0.5em;
}

header ul li a:hover,
input[type=submit]:hover {
    cursor: pointer;
}

header ul li a:hover,
main a.btn:hover {
    text-decoration: underline;
}

main a.btn,
input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    padding: 0.5em;
}

main a.btn,
footer,
div.accessory,
img.carImage,
.errors,
h1,
h2,
h3,
form label {
    text-align: center;
}

main a.btn,
input[type=submit] {
    width: 50%;
}

main a.btn,
footer,
form label {
    background: #607588;
}

main a.btn {
    margin: 1em;
    margin-left: 25%;
    margin-right: 25%;
}

main form,
div.details a {
    width: 20%;
}

footer,
span {
    font-size: 1.1em;
}

footer,
input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    width: 100%;
}

footer {
    padding: 1em 0em;
    position: absolute;
    bottom: 0;
}

div.cars,
div.accessories,
div.details,
div.details a {
    display: flex;
}

div.cars,
div.accessories,
div.details a {
    justify-content: center;
}

div.car,
div.accessory {
    border: 0.5px solid #a99898;
}

div.car,
img.logo,
img.carImage {
    width: 15em;
}

div.car {
    margin: 1em 0.2em;
}

div.accessory {
    margin: 0em 0.2em 5em;
}

div.details {
    flex-direction: column;
    align-items: center;
}

img {
    max-height: 11em;
    max-width: 20em;
}

img.logo {
    height: 4em;
    float: left;
}

img.carImage,
form label {
    display: block;
}

img.carImage {
    height: 11em;
}

.container {
    position: relative;
    min-height: 100vh;
}

.errors {
    width: 35%;
    padding: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background: rgb(231, 118, 118);
    border-radius: 0.5em;
}

span {
    font-weight: bolder;
}

form label,
input[type=submit] {
    padding: 0.7em;
}

form.attachAccessory {
    margin-top: 1em;
    margin-bottom: 1em;
}

input[type=submit] {
    border: none;
    font-size: 18px;
    margin: 5px 5px 5px 25%;
    border-radius: 4px;
}


input[type=submit]:hover {
    background-color: #718F94;
}

input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    border: 1px solid #a99898;
    box-sizing: border-box;
    margin: 0.5em auto 2em;
}