<div>
    <h1>
        Cars
    </h1>
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Search" value="{{query.search}}">
        <input type="number" name="priceFrom" placeholder="Price from" value="{{query.priceFrom}}">
        <input type="number" name="priceTo" placeholder="Price to" value="{{query.priceTo}}">
        <input type="submit" value="Search">
    </form>
    {{#if cars}}
    <div class="cars">
        {{#each cars}}
        {{> car}}
        {{/each}}
    </div>
    {{else}}
    <h3>
        No cars yet
    </h3>
    {{/if}}
</div>